numpy
pandas
geopandas
osmnx
networkx
rioxarray
xarray-spatial
rasterio
shapely
folium
branca
pystac-client
planetary-computer
odc-stac
earthengine-api
tqdm
Pillow
requests
transformers
torch
scikit-image
scikit-learn
matplotlib
ipython
scipy
